.container
  .row
    .col-md-12.jumbotron.text-center
      %h1 Lorem Ipsum Dolor

.container
  .row
    .col-md-12.text-center
      %h2 Focus of Forum goes here

.container
  .row
    .col-md-6
      %h4 Link to Users
    .col-md-6
      %h4 Link to Forum
