.container
  .row
    .col-md-12.jumbotron.text-center
      %h1 The Nick Bucciarelli Forum
.container
  .row
    .col-md-12.text-center
      %h3
        =link_to "View Forum", topics_path
.container
  .row
    .col-md-12.text-center
      = link_to 'Users:', users_path
      = User.count
      registered

#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
  / Wrapper for slides
  .carousel-inner{:role => "listbox"}
    .item.active
      %img{:alt => "...", :src => "https://scontent-b-atl.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/40939_554119405050_1337143_n.jpg?oh=137f883f1d8acd91f0c8878bbdd57e3c&oe=556E8E20"}
        .carousel-caption
          %h3 Discuss your favorite Nick moments
    .item
      %img{:alt => "...", :src => "https://scontent-b-atl.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1928244_518610929320_6783226_n.jpg?oh=18b97db5f3621c9a5e61c21e51cead68&oe=55237494"}
        .carousel-caption
          %h3 Swap your favorite leg day routines
    \...
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
    %span.sr-only Next