<<<<<<< HEAD
%h1 Hello World

%p
  = link_to 'Users:', users_path
  = User.count
  registered
=======
.container
  .row
    .col-md-12.jumbotron.text-center
      %h1 Nick Bucciarelli Forum
>>>>>>> 1dbc14df42f393d5ee654a205e100ae2a6a32d30
