/ Static navbar
%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Nick Bucciarelli Forum
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Topics
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} Topic # 1
            %li
              %a{:href => "#"} Topic # 2
            %li
              %a{:href => "#"} Topic # 3
      %ul.nav.navbar-nav.navbar-right
        %li.active
          %a{:href => "/users/sign_up"}
            Register
            %span.sr-only (current)
        %li
          %a{:href => "/users/sign_in"} Login
        %li
          = link_to "Log Out", destroy_user_session_path, method: :delete
    / /.nav-collapse
  / /.container-fluid